<div id="footer">
	<div class="parallax" :style="parallax2.style">
		<div class="caption">
			<br/><br/>
			<h2 v-html="parallax2.developer.capt"></h2>
			<a :href="`https://wa.me/${parallax2.developer.phone}?text=Hai%20kak%20saya%20membutuhkan%20jasa%20web%20development`" class="btn btn-success text-white">whatsap</a>
			<a :href="`https://instagram.com/${parallax2.developer.ig}`" class="btn btn-primary text-white">Instagram</a>
			<br/><br/>
		</div>
	</div>
</div>